<div layout="column" layout-align="center center">
    <md-content ng-show="vm.loading" class="loading" layout-padding>
        <h1 class="md-title">Loading...</h1>
        <div layout="row" layout-sm="column" layout-align="center center">
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-content>
    <md-content ng-hide="vm.loading" layout-padding>
        <form name="calcForm" novalidate>
            <div layout="row">
                <md-select ng-model="vm.formula" placeholder="Formula" required>
                    <md-option ng-repeat="(key, value) in vm.metaData.formulas" value="{{key}}">{{value}}</md-option>
                </md-select>
                <md-select ng-model="vm.weightUnits" placeholder="Weight Units" required>
                    <md-option ng-repeat="(key, value) in vm.metaData.weightUnits" value="{{key}}">{{value}}</md-option>
                </md-select>
            </div>
            <div layout="column">
                <md-input-container flex="">
                    <label>Calculations <cite>i.e: id,Male,100,200 where 100 is body weight and 200 is weight lifted</cite></label>
                    <textarea ng-model="vm.calculations" columns="1" md-maxlength="500" required rsc-calculator-input-validator></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-disabled="calcForm.$invalid" ng-click="vm.calc(vm.calculations)">Calculate</md-button>
            </div>
        </form>
    </md-content>
</div>