@using System.Web.Http.Controllers
@using System.Web.Http.Description
@model System.Collections.ObjectModel.Collection<System.Web.Http.Description.ApiDescription>

@{
    ViewBag.Title = "Relative Strength Calculator";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet"/>
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            @*<h1>@ViewBag.Title</h1>*@
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Restful web service for relative strength calculations.
            </p>
            <p>
                Supported Formulas:
                <ol>
                    <li>Schwartz/Malone</li>
                    <li>Wilks</li>
                </ol>
            </p>
            <p>
                Supported Weight Units:
                <ol>
                    <li>Pounds</li>
                    <li>Kilograms</li>
                </ol>
            </p>
            <p>
                This is an open source project. All source code is available <a href="https://github.com/dalealleshouse/RelativeStrengthCalculator">here</a>.
                If you have bugs, issues, or just want more features make a request <a href="https://github.com/dalealleshouse/RelativeStrengthCalculator/issues">here</a>.
                If I have time, I'll code it up. Additionally, I'll entertain any valid pull requests.
            </p>
            <p>
            <p>
                This web service is 100% free for anyone to use. Any donations are much appreciated:
            </p>
            <br />
            <p class="pull-right">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2AW2YCZ6K3MYA">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>